<html>
    <head>
        <style>
            img{
                width:40%;
            }
        </style>
        
    </head>
<body>

    <h1>Welcome to Cat 1! </h1>
    <div>
        <div class="first"><img src="images/cat1.jpg" alt="1"></div>
        <p>Name: Cat 1</p>
        <p>Age: 1</p>
        <p>Interests: Chasing other Cats, eating, sleeping, and lasers.</p>

    </div>

</body>
</html>