<html>
    <head>
        <style>
            img{
                width:40%;
            }
        </style>
        
    </head>
<body>

    <h1>Welcome to Cat 2! </h1>
    <div>
        <div class="first"><img src="images/cat2.jpeg" alt="2"></div>
        <p>Name: Cat 2</p>
        <p>Age: 3</p>
        <p>Interests: licking himself, being lazy, sleeping, and annoying the kids.</p>

    </div>

</body>
</html>