<html>
    <head>
        <style>
            img{
                width:40%;
            }
        </style>
        
    </head>
<body>

    <h1>you are on the cats.ejs page</h1>
    <div>
        <div class="first"><a href="/cat1"><img src="images/cat1.jpg" alt="1"></div>
        <div class="first"><a href="/cat2"><img src="images/cat2.jpeg" alt="1"></div>

        
    </div>

</body>
</html>