<html>
    <head>
        <style>
            img{
                width:50%;
            }
        </style>
    </head>
<body>

    <h1>you are on the forms.ejs page</h1>

    <form action="">
        <label for="name">Add Car</label>
        <input type="text" class="name">
        <input type="submit" value="Process">
    </form>

</body>
</html>